body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.container {
  max-width: 90%;
}

nav li:last-child a {
  background: #F35F1E;
}
nav li:last-child a:hover {
  background: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #F35F1E;
}

section.hero {
  background: #f8f8f8;
}

.size {
  background: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #F35F1E;
  color: #F35F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #F35F1E;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: #F35F1E;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #b23301;
}

section.cart {
  background: #f8f8f8;
}
section.cart .amount {
  color: #F35F1E;
}

section.login {
  background: #f8f8f8;
  min-height: calc(100vh - 86px);
}
section.login a {
  color: #F35F1E;
}
section.login a:hover {
  color: #b23301;
}
